$pink: rgb(255, 140, 151);
$pink-cosy: rgb(251, 125, 137);
$pink-hard: #EC008C;
$shadow: rgba(34, 34, 43, 0.26);
$white: rgb(253, 254, 254);
$red-cozy: rgb(255, 71, 71);
$blue-variant: rgb(45, 127, 190);
$blue-cosy: #3984BE;
$blue-sky: rgb(57, 132, 190);
$skyBlue: rgb(202, 234, 253);
$black: #2E2E2E;
$blue: #0F2B4B;
$blue-cosy: #143055;
$black-cozy: #000000B2;
$variant-black: #232323;
$dark-deep: #000000;
$red: #C41230;
$bonecolor: #E5DAC1;
$green: #B6C6B1;
$res-medium: #9B0712;
$grey: #626262;
$grey-cozy: #464650;
$transparent: rgba(0, 0, 0, 0);
$font-noto-self: "Denike Regular";
$font-raleway: "Raleway Regular";
$font-realway-bold: "Raleway Bold";
$font-raleway-extra-bold: "Raleway ExtraBold";
$font-hk-grotesk-regular: "HKGrotesk Regular";
$font-hk-grotesk-bold: "HKGrotesk Bold";
$font-nunito-sans-sans-serif: "Nunito Sans", sans-serif;
$font-Parisienne-cursive: "Parisienne", cursive;
$font-Inter-sans-serif: "Inter", sans-serif;
$cover: url(/head-img-x2.jpg);
$header-image-text: url(/header-image-text.png);
$offer-img: url(/offer-background.png);
$offer-img2: url(/offer-background2.png);
$second-offer-desktop-img: url(/second-offer-cover.png);
$offer-background-desktop: url(/offer-background-desktop.png);
$arrow1: url(/Arrow1.png);
$arrow2: url(/Arrow2.png);
$checkmark: url(/checkmark.png);
$background-image: url(/background-image.png);
$block-img: url(/selection.png);
$benefits-cover-desktop: url(/benefits-cover-desktop.png);
$selection-background: url(/selection-background.png);
$second-bacground-header: url(/second-bacground-header.png);
$glass: url(/glass.png);
